<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- <div #map id="map"></div> -->
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.7846642075046!2d47.97610261457731!3d29.3765936567668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf8505baad4043%3A0x7900ca20b1e27a81!2sYours%20Coffee%20Bar!5e0!3m2!1sen!2skw!4v1569490255127!5m2!1sen!2skw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
